# Website A/B Testing - Lab

## Introduction

In this lab, you'll get another chance to practice your skills at conducting a full A/B test analysis. It will also be a chance to practice your data exploration and processing skills! The scenario you'll be investigating is data collected from the homepage of a music app page for audacity.

## Objectives

You will be able to:
* Analyze the data from a website A/B test to draw relevant conclusions
* Explore and analyze web action data

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.power import TTestIndPower, TTestPower
%matplotlib inline

## Exploratory Analysis

Start by loading in the dataset stored in the file 'homepage_actions.csv'. Then conduct an exploratory analysis to get familiar with the data.

> Hints:
    * Start investigating the id column:
        * How many viewers also clicked?
        * Are there any anomalies with the data; did anyone click who didn't view?
        * Is there any overlap between the control and experiment groups? 
            * If so, how do you plan to account for this in your experimental design?

In [2]:
df = pd.read_csv('homepage_actions.csv', date_parser="timestamp")
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [3]:
df.shape

(8188, 4)

In [5]:
df.loc[df.duplicated(subset="id", keep=False)]

                       timestamp      id       group action
7     2016-09-24 20:57:20.336757  349125  experiment   view
8     2016-09-24 20:58:01.948663  349125  experiment  click
11    2016-09-24 21:05:15.348935  601714  experiment   view
12    2016-09-24 21:06:27.553057  601714  experiment  click
14    2016-09-24 21:29:19.766467  487634  experiment   view
15    2016-09-24 21:30:02.739756  487634  experiment  click
16    2016-09-24 23:01:08.713402  468601  experiment   view
17    2016-09-24 23:01:12.108316  468601  experiment  click
20    2016-09-25 00:00:47.700734  555973  experiment   view
21    2016-09-25 00:01:47.933853  555973  experiment  click
27    2016-09-25 02:52:43.844199  398892     control   view
28    2016-09-25 02:53:25.459874  398892     control  click
29    2016-09-25 03:28:47.603433  444902  experiment   view
30    2016-09-25 03:29:16.000743  444902  experiment  click
36    2016-09-25 05:18:58.565357  544571     control   view
37    2016-09-25 05:19:15.810727  544571     control  click
39    2016-09-25 05:42:34.858176  269335  experiment   view
40    2016-09-25 05:44:09.740212  269335  experiment  click
44    2016-09-25 06:59:23.730896  596892  experiment   view
45    2016-09-25 07:00:09.016928  596892  experiment  click
46    2016-09-25 07:23:22.139057  653403  experiment   view
47    2016-09-25 07:24:28.569074  653403  experiment  click
50    2016-09-25 08:10:40.809288  922848  experiment   view
51    2016-09-25 08:11:34.739246  922848  experiment  click
53    2016-09-25 08:22:31.565265  283438  experiment   view
54    2016-09-25 08:23:37.177352  283438  experiment  click
55    2016-09-25 08:24:31.192802  194950     control   view
56    2016-09-25 08:25:32.821891  194950     control  click
57    2016-09-25 09:43:32.734737  894454     control   view
58    2016-09-25 09:45:12.114972  894454     control  click
...                          ...     ...         ...    ...
8108  2017-01-17 06:56:15.062926  519346     control   view
8109  2017-01-17 06:57:43.278142  519346     control  click
8112  2017-01-17 08:08:29.616880  771102  experiment   view
8113  2017-01-17 08:10:00.480152  771102  experiment  click
8116  2017-01-17 09:26:26.463667  891635  experiment   view
8117  2017-01-17 09:27:37.808307  891635  experiment  click
8123  2017-01-17 11:41:30.227170  834542     control   view
8124  2017-01-17 11:42:44.278160  834542     control  click
8127  2017-01-17 13:03:45.716330  486108     control   view
8128  2017-01-17 13:04:19.582822  486108     control  click
8132  2017-01-17 15:08:41.151181  865656  experiment   view
8133  2017-01-17 15:09:17.533736  865656  experiment  click
8145  2017-01-17 18:17:23.772705  415057     control   view
8146  2017-01-17 18:17:31.458996  415057     control  click
8148  2017-01-17 18:32:04.305072  762498     control   view
8149  2017-01-17 18:32:30.832981  762498     control  click
8151  2017-01-17 20:14:00.072907  413359  experiment   view
8152  2017-01-17 20:14:12.483794  413359  experiment  click
8159  2017-01-17 22:39:20.924266  591686     control   view
8160  2017-01-17 22:40:54.304413  591686     control  click
8161  2017-01-17 23:19:39.649126  451198     control   view
8162  2017-01-17 23:20:35.483601  451198     control  click
8163  2017-01-17 23:46:19.329053  252195     control   view
8164  2017-01-17 23:47:58.209653  252195     control  click
8166  2017-01-18 00:55:55.026210  344770  experiment   view
8167  2017-01-18 00:56:24.554729  344770  experiment  click
8179  2017-01-18 08:53:50.910310  615849  experiment   view
8180  2017-01-18 08:54:56.879682  615849  experiment  click
8181  2017-01-18 09:07:37.661143  795585     control   view
8182  2017-01-18 09:09:17.363917  795585     control  click

[3720 rows x 4 columns]

In [14]:
len(df.id.unique())

6328

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
timestamp    8188 non-null object
id           8188 non-null int64
group        8188 non-null object
action       8188 non-null object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

In [5]:
df.group.unique()

array(['experiment', 'control'], dtype=object)

In [6]:
df.action.unique()

array(['view', 'click'], dtype=object)

## Conduct a Statistical Test

Conduct a statistical test to determine whether the experimental homepage was more effective than that of the control group.

In [18]:
pivot = df.pivot_table(values='id', index='group', columns='action', aggfunc='count')
pivot["probability"] = pivot.click / pivot.view
pivot["std"] = np.sqrt(pivot.probability * (1 - pivot.probability) / pivot.view)
pivot

action      click  view  probability       std
group
control       932  3332     0.279712  0.007776
experiment    928  2996     0.309746  0.008448

In [19]:
(pivot.loc['control','probability'] - pivot.loc['experiment','probability']) / np.sqrt((pivot.loc['control','std'] ** 2 * (pivot.loc['control','view'] - 1) + pivot.loc['experiment','std'] ** 2 * (pivot.loc['experiment','view'] - 1))/(pivot.loc['control','view'] - 1 + pivot.loc['experiment','view'] - 1))

-3.7075272738832257

## Verifying Results

One sensible formulation of the data to answer the hypothesis test above would be to create a binary variable representing each individual in the experiment and control group. This binary variable would represent whether or not that individual clicked on the homepage; 1 for they did and 0 if they did not. 

The variance for the number of successes in a sample of a binomial variable with n observations is given by:

## $n\bullet p (1-p)$

Given this, perform 3 steps to verify the results of your statistical test:
1. Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group. 
2. Calculate the number of standard deviations that the actual number of clicks was from this estimate. 
3. Finally, calculate a p-value using the normal distribution based on this z-score.

### Step 1:
Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group.

In [20]:
v1 = pivot.loc['experiment', 'view'] * pivot.loc['control', 'probability']
v1

838.0168067226891

### Step 2:
Calculate the number of standard deviations that the actual number of clicks was from this estimate.

In [25]:
v2 = pivot.loc['experiment', 'view'] * pivot.loc['experiment', 'probability'] * (1 - pivot.loc['experiment', 'probability'])
np.sqrt(v2)

25.30919609963171

### Step 3: 
Finally, calculate a p-value using the normal distribution based on this z-score.

In [24]:
(pivot.loc['experiment', 'click'] - v1) / np.sqrt(v2)

3.555355647136508

### Analysis:

Does this result roughly match that of the previous statistical test?

> Comment: **Your analysis here**

## Summary

In this lab, you continued to get more practice designing and conducting AB tests. This required additional work preprocessing and formulating the initial problem in a suitable manner. Additionally, you also saw how to verify results, strengthening your knowledge of binomial variables, and reviewing initial statistical concepts of the central limit theorem, standard deviation, z-scores, and their accompanying p-values.